<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datadrift - Regressão Linear</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/style.css') }}"> 
</head>
<body>
    <ul class="menu">
        <li><a href="{{ MODEL_MANAGER_URL }}">Solicitação de Empréstimo</a></li>
        <li><a href="#">Data Predict</a>
            <ul class="submenu">
                <li><a href="{{ MODEL_MANAGER_URL }}/dashboard_regressao_linear">Regressão Linear</a></li>
                <li><a href="{{ MODEL_MANAGER_URL }}/dashboard_clusterizacao">Clusterização</a></li>
                <li><a href="{{ MODEL_MANAGER_URL }}/dashboard_classificacao">Classificação</a></li>
            </ul>
        </li>
    </ul>

    <div class="container">
        <h1>Data Predict - Regressão Linear</h1>
        
        <!-- Filtros -->
        <form id="filter-form">
        </form>
        
        <div id="chart-container">
            <canvas id="bar-chart"></canvas>
        </div>
    </div>

    <script>
        // Dados fictícios para exemplo
        var dados = JSON.parse('{{ json_formatado|safe }}');

        // Função para contar empréstimos aprovados e reprovados
        function contarAprovadosReprovados() {
            var countAprovados = 0;
            var countReprovados = 0;

            dados.forEach(function(item) {
                if (item.emprestimo_aprovado === 1) {
                    countAprovados++;
                } else if (item.emprestimo_aprovado === 0) {
                    countReprovados++;
                }
            });

            return {aprovados: countAprovados, reprovados: countReprovados};
        }

        // Função para atualizar o gráfico com os dados contados
        function atualizarGrafico() {
            var count = contarAprovadosReprovados();

            // Atualizar o gráfico
            var ctx = document.getElementById('bar-chart').getContext('2d');
            if (window.barChart) {
                window.barChart.destroy(); // Destruir o gráfico anterior antes de criar um novo
            }
            window.barChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Empréstimos Aprovados', 'Empréstimos Reprovados'],
                    datasets: [{
                        label: 'Quantidade de Empréstimos',
                        data: [count.aprovados, count.reprovados],
                        backgroundColor: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 99, 132, 0.5)'],
                        borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Quantidade de Empréstimos'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Tipo de Empréstimo'
                            }
                        }
                    }
                }
            });
        }

        // Inicializar o gráfico com os dados completos ao carregar a página
        atualizarGrafico();
    </script>
</body>
</html>
